@charset "UTF-8";

body{
	font-size: 16px;
}
.div_header{
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}
.tb1{	
	text-align: center;
}
.reply_category{
	width: 10%;
	color: black;
	font-weight: bold;
	vertical-align: middle;
}
.span_must_input{
	color: red;
}
.reply_content{
	text-align: left;
}
.btn1{
	color: white;
	width: 100px;
	height: 30px;
	margin-left: 1%;
	background-color: #54ACA8;
	border: 0.5px solid #54ACA8;
}
.input_title{
	width: 100%;
	box-sizing: border-box;
	margin-right: 2px;
}