@charset "UTF-8";

h3{
	text-align: center;
}
a{
	text-decoration-line: none;
}
.div_header{
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}
.tb1{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.tb_category{
	width: 10%;
	background-color: lightgray;
	font-weight: bold;
}
.tb_title{
	text-align: left;
	border-top: 2px solid black;
	padding-left: 10px;
}
.tb_content{
	border-top: 2px solid black;
	height: 500px;
}
.tb_content_fill{	
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
}
.td_file{
	border-top: 2px solid black;
}
.tb_filename{
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.div2{
	width: 80%;
	margin-top: 5px;
	margin-left: 10%;
}
.btn1{
	float: left;
	width: 100px;
	height: 30px;.
}
.btn2{
	float: right;
	width: 100px;
	height: 30px;
	margin-left: 1%;
}
#reply{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.replies{
	margin-top: 50px;
}
.tb2{	
	text-align: center;
	width: 80%;	
	margin-left: 10%;
	margin-right: 10%;
}
.reply_category{
	width: 10%;
	color: black;
	background-color: #b2ffb5;
	font-weight: bold;
}
.reply_category_title{
	border-top: 2px solid #27c6be;
	border-bottom: 2px solid #27c6be;
}
.reply_content{
	width: 100%;
	height: 300px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
	border-top: 2px solid #27c6be;
	border-bottom: 2px solid #27c6be;
}
.btn_td{
	padding-top: 5px;
	padding-bottom: 5px;
}
.div_btn{
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.btn3{
	box-sizing: content-box;
	width: 100px;
	height: 30px;
	margin-left: 1%;
	background-color: #b2ffb5;
	border: 0.5px solid gray;
}
#img{
	max-width: 480px;
	max-height: 270px;
}