@charset "UTF-8";
@import "reset.css";

/* back */
div.backto {
  width: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  cursor: pointer;
  position:absolute;
  margin-top:-25px;
}

/* back */
div.lastbackto{
	cursor: pointer;
  margin-top:8px;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: none;
  border-radius: 10px;
  width: 100px;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
	color:#c1c1c1;
  position: absolute;
  cursor:pointer;
  left: 0px;
  top: 8px;
  width: 100px;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
  font-weight:700;
}

div.backto:hover span.label {
  left: 25px;
  color:#848484;
}
div.backto:hover span .arrow {display:none;}

div.backto:hover span.line {
  left: -10px;
  height: 5px;
}

div.backto:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
   background-color: #54ACA8;
}

div.backto:hover span.mLine {
  opacity: 1;
  width: 30px;
   background-color: #DE8889;
}

div.backto:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
  background-color: #A4C266;
}


@media all and (max-width:576px) {
	.howflist .container { width: 100%;margin: auto;padding: 2px 5%;}
}
