@charset "UTF-8";
@import "reset.css";

/* boardTabList κ³µμ©μ„Έν… */
.parallax-window {
    min-height: 250px;
    background: transparent;
    background-repeat:no-repeat;
}
.parallax-window img {width:50%;background-repeat:no-repeat;}
@media all and (max-width: 768px) {
	.parallax-window {
    min-height: 100px;
    background: transparent;
    background-repeat:no-repeat;
}
	
}

/* Tab */
.boardView .cstopNav {z-index:3;position:absolute; text-align:center;width: 100%; margin-top: -78px;}
.boardView .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {background-color:#FBFBFB; border: 1px solid #dee2e6;}
.boardView .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {background-color:#FBFBFB; border-color: #dee2e6 #dee2e6 #FBFBFB;}
.boardView .cstopNav .nav-tabs {margin:auto; width:fit-content; text-align:center;}
.boardView .cstopNav .nav-tabs a {cursor:pointer;}
.boardView .cstopNav .nav-tabs a img {margin-top:5px;cursor:pointer;max-width:50px;}
.boardView .cstopNav .nav-tabs .nav-link.active img { margin-top:0px;cursor:pointer;max-width:60px;}
.boardView .cstopNav .nav-tabs .nav-link img:hover {margin-top:0px;cursor:pointer;max-width:60px;}


.boardView .contentrow a img {width:100%;}

/* view setting */
.boardView .container {max-width: 800px; margin: auto; padding: 40px 0px; padding-bottom: 90px; position:relative;}
/* view head */
.boardView .clist {margin-top:20px;}
.boardView .clist .thumbnailitem { border:none}
.boardview .clist .thumbnailimg {width:100%;}
.boardView .clist .thumbnail .writerinfo {padding: 16px 0px 16px 0px;}
.boardView .clist .writerinfo p {display:inline-block;color:#3D3D3D; font: normal normal bold 13px/19px Noto Sans; letter-spacing: 0.52px;}
.boardView .clist .writerinfo p .cate {border-radius:25px; margin-right:8px; padding:5px 10px; display:inline-block; font: normal normal 13px/19px Noto Sans; letter-spacing: 0.52px;}
.boardView .clist .writerinfo .small {float: right; margin-top:6px;}
.boardView .clist .writerinfo .small span {margin-left:8px; font-size:16px;}
.boardView .clist .writerinfo .small img { display:inline-block; width:20px; height:14px;}
.boardView .clist .writerinfo p span {font-size:16px; line-height:19px;}
.boardView .clist .caption {margin-bottom:16px;}
.boardView .clist .caption h4 {padding:0px; color:#3D3D3D; font: normal normal bold 40px/50px Noto Sans;}
.boardView .clist #tagArea {font-size:16px; line-height:26px;}

.boardView .middleline {margin:24px 0px 32px 0px;}
.boardView .lastline {margin-bottom:40px;}
.boardView .clist .contentrow {margin-bottom:48px; line-height:30px;}
.boardView .clist .contentrow p {line-height:30px;}

.boardView .clist .btnarea button {background:none; border:none;}
.boardView .clist .btnarea img {width:40px; border:2px solid rgba(255,255,255,0);}
.boardView .clist .btnarea img:hover {width:40px; border:none;}

#howfContent {max-width:100%;}
#howfContent img {max-width:100%;}

@media all and (max-width: 768px) {
	.boardView .clist .writerinfo p span {font-size:12px; line-height:19px;}
	.boardView .clist .caption h4 {padding:0px; color:#3D3D3D; font: normal normal bold 24px/38px Noto Sans;}
	.boardView .container {padding:0px 5%; padding-bottom:32px;}
	.boardView .clist .thumbnailitem {padding:5px 0px;}
	.boardView .clist .thumbnail .writerinfo {padding: 16px 0px 16px 0px;}
}