@charset "UTF-8";
@import "reset.css";

/* view setting */
.boardWrite .container {max-width: 800px; margin: auto; padding: 40px 0px; padding-bottom: 90px; position:relative;}
@media all and (max-width:576px) {
	.boardWrite .container { width: 100%;margin: auto;padding: 5px 5%; padding-bottom:32px;}
}
/* view setting */
.boardWrite .imgThumbView {width:100%; margin-top:20px;}
.boardWrite .imgThumbView img {width:100%;}
.boardWrite .imgThumbView div {cursor:pointer;}
.boardWrite .imgThumbView .attachimg1 {display:block;}
.boardWrite .imgThumbView .attachimg2 {display:none;}
.boardWrite .imgThumbView input {display:none;}
.boardWrite .imgThumbView #imageArea {display:none;}
.boardWrite .imgThumbView2 {width:100%; margin-top:20px;}
.boardWrite .h-input {margin:24px 0px;}
.boardWrite .h-input p {margin-top:20px;}
.boardWrite .h-input input[type=text] { border-radius: 10px; width: 100%; box-shadow: inset 0px 2px 5px #00000029; background-color: white; border: none; padding: 16px; font-size: 16px;font-weight: 600;}
.boardWrite .h-input .textinput2 { border-radius:10px; border-top-left-radius: 0px!important; border-bottom-left-radius:0px!important; width: 100%; box-shadow: inset 0px 2px 5px #00000029; background-color: white; border: none; padding: 16px; font-size: 16px;font-weight: 600;}
.boardWrite .h-input input[type=date] {cursor:pointer; padding: 16px; height: 100%;border-radius: 10px;}
.boardWrite .h-input .tagcon { border-radius: 10px; width: 100%; box-shadow: inset 0px 2px 5px #00000029; background-color: white; border: none; padding: 16px; font-size: 16px;font-weight: 600;}
.boardWrite .h-input .form-select {height:100%; border-radius:10px;}
.boardWrite .h-input .form-select3 {height:100%; border-radius:0px;}
.boardWrite .h-input .form-select2 {height:100%; border-radius:10px; border-top-right-radius:0px; border-bottom-right-radius:0px;}
.boardWrite .h-input .selection {padding-right:20px;}
.boardWrite .h-input .custom p {margin-bottom:8px;}
.boardWrite .lastline {margin:32px 0px;}
.boardWrite .note-control-selection {width:100% !important;}
.boardWrite .note-editable img {max-width:100% !important;}
.boardWrite .buttonarea .okbutton {text-align:right;}
.boardWrite #summernote div {
    max-width: 100%;
}

@media all and (max-width: 768px) {
	.boardWrite .boardWrite .container {padding:0px 5%; padding-bottom:32px;}
	.boardWrite .h-input .selection {padding-right:0px; padding-bottom:16px;}
	.boardWrite .buttonarea .okbutton {text-align:center;}
	.boardWrite .h-input .custom p {padding:0px 5px;}
	.boardWrite .imgThumbView .attachimg1 {display:none;}
	.boardWrite .imgThumbView .attachimg2 {display:block;}
}

.boardWrite .note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable
{border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; width: 100%; box-shadow: inset 0px 2px 5px #00000029; background-color: white;  height:fit-content; border: none;}
 
.boardWrite .note-editor.note-frame, .note-editor.note-airframe {border:none;}
.boardWrite .note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable{padding:24px; height:fit-content; line-height:20px;}
.boardWrite .note-editor.note-frame .note-placeholder, .note-editor.note-airframe .note-placeholder{padding:24px;}
.boardWrite .note-popover .popover-content, .note-editor .note-toolbar{ border-top-left-radius: 10px; border-top-right-radius: 10px; width: 100%; border: none;}
 