@charset "UTF-8";

/* footer 세팅 */

#footer .footercontainer1 {padding: 50px 0px 25px 0px;}
#footer .footercontainer2 {padding: 10px 0px;}
/* container 모바일 세팅 */
@media all and (max-width: 992px) {
	#footer .footercontainer1 {width: 100%; margin: auto; padding-right:5%; padding-left:5%;}
	#footer .footercontainer2 {width: 100%; margin: auto; padding-right:5%; padding-left:5%;}
}

#footer .company {display:inline-block;margin-bottom:32px;}
#footer .companylogo {letter-spacing:6.4px; line-height:42px; font-size:32px; color:#3D3D3D; font-weight:600; margin-bottom:32px;}
#footer .companyinfo {line-height:26px; font-size:16px; color: #737373;}
#footer .snsarea {width:100%;max-width:300px; margin:auto;}
#footer .snsarea a img {width:calc(100%/6);}

#footer .sitemap {text-align:center; display:inline-block;margin-bottom:32px;}
#footer .sitemap p {font-weight:700; font-size:20px; line-height:34px; color:#3D3D3D; margin-bottom:22px;}
#footer .sitemap a {font-size:16px; line-height:24px; margin-top:12px; display:block; color:#3D3D3D; }

#footer .policy {text-align:right; line-height:30px;}
#footer .policy a {color:#3D3D3D; line-height:30px;}