@charset "UTF-8";

/* home μ„Έν… */

/* content 01 */
.content01 .carousel-inner {position: relative; width: 100%;height: 667px;overflow: hidden;}
.content01 .carousel-item {position:relative; height:667px;}
.content01 .carousel-caption {width: 100%;height: 100%;right: 0%;bottom: 0%;left: 0%;padding-top: 0;padding-bottom: 0;color: #fff;text-align: center;}
.content01 .carousel-control-next-icon {background-image: none;}
.content01 .carousel-control-prev-icon {background-image: none;}
.content01 .carousel-caption h5 {font-size:2rem; margin-bottom:25px; line-height:45px; text-overflow: ellipsis;overflow: hidden;word-break: keep-all;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.content01 .carousel-caption p {font-size: 16px; line-height:22px; margin-bottom:32px;text-overflow: ellipsis;overflow: hidden;word-break: keep-all;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;} 
.content01 .captionset {background:rgba(255,255,255,0.8); padding:65px; margin:auto; max-width:410px; vertical-align:middle; margin-top:157px;}
.content01 .imgset { width: 100%; height: 100%; background-size: cover;background-position: center 50%; background-repeat: no-repeat;}
@media all and (max-width: 768px) {
	.content01 .carousel-inner{height:500px;}
	.content01 .carousel-item {height:500px;}
	.content01 .captionset {margin-top:80px;}
}
@media all and (max-width: 576px) {
	.content01 .carousel-inner{height:400px;}
	.content01 .carousel-item {height:400px;}
	.content01 .carousel-caption h5 {font-size:1.8rem; line-height:40px;}
	.content01 .captionset {padding:32px;}
	.content01 .captionset {max-width: 87vw; margin: auto; margin-top:80px; }
}

/* content 02 */
.content02 .title {text-align:center; font-size:32px; line-height:42px; margin-bottom:32px;}
.content02 .subtitle {font-size:16px;text-align:center; display:grid;}
.content02 .subtitle a {font-size:16px; line-height:41px; cursor:pointer;}
.content02 .subtitle a:hover {text-decoration:underline; color:#DE8889;font-style: italic;}
.content02 .row {margin:56px 0px 0px 0px;}
.content02 .colitem {margin-bottom:64px;}
.content02 .colitem:nth-child(2n-1) {padding-right:40px;}
.content02 .colitem:nth-child(3) {margin-bottom:0px;}
.content02 .colitem:last-child {margin-bottom:0px;}
.content02 .cprofile span {display:inline-block;vertical-align:middle; margin-right:3px;}
.content02 .cprofile .profile {display:inline-block; vertical-align:middle;}
.content02 .colitem h2 {font-size:19px; margin-top:8px;margin-bottom:16px; line-height:29px; text-overflow: ellipsis;overflow: hidden;word-break: keep-all;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.content02 .colitem p {font-size:16px; line-height:26px; text-overflow: ellipsis;overflow: hidden;word-break: keep-all;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
@media all and (max-width: 992px) {
	.content02 .title {font-size:24px; line-height:32px; margin-bottom:16px;}
	.content02 .subtitle {font-size:16px; line-height:24px;}
	.content02 .row {margin:40px 0px 0px 0px;}
	.content02 .colitem {margin-bottom:32px;}
	.content02 .colitem:nth-child(2n-1) {padding-right:0px;}
	.content02 .colitem:nth-child(3) {margin-bottom:32px;}
}

/* content 03 */
.content03 .container{overflow-x: hidden;}
.content03 .linediv {display:inline-block; padding-bottom:16px; margin-bottom:48px; border-bottom:2px solid #CFCFCF;}
.content03 .title {font-size:32px; line-height:42px;}
.content03 .my-slider{padding: 0 40px;position:relative;}
.content03 .slick-slide{background-color: white;width:100%;color: #FFF;height: fit-content;margin: 0 15px 5px 5px;align-items: center;justify-content: center;}
.content03 .slick-slide .imgset{width: 100%; height: 218px; background-size: cover;background-position: center top; background-repeat: no-repeat;}
.content03 .slick-slide .banding {padding:8px;}
.content03 .slick-slide img {width:13.5px;display:inline-block;vertical-align:middle;margin-right:6.5px;}
.content03 .slick-slide p {display:inline-block;font-size:10px;line-height:15px;vertical-align:middle;}
.content03 .slick-slide .dashp{display:inline-block;font-size:10px;line-height:15px;vertical-align:middle;margin-left:10px;margin-right:10px;}
.content03 .slick-slide .score{font-size:16px;vertical-align:middle;}
.content03 .slick-slide h3 {font-size:24px; line-height:34px;margin-top:3px;text-overflow: ellipsis;overflow: hidden;word-break: keep-all;display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.content03 .slick-slide h4 {margin-top:8px; font-size:16px; line-height:26px;} 
.content03 .slick-list{margin-left:15px;}
.content03 .slick-next, .slick-prev{z-index: 5;}
.content03 .slick-next{background-image: url(../image/button/arrow_right.png);background-size:40px;position: absolute;top: 90px;right: 0px;}
.content03 .slick-prev{background-image: url(../image/button/arrow_left.png);background-size:40px;position: absolute;top: 90px;left: 0px;}
.content03 .slick-next:before, .slick-prev:before{color: #000;font-size: 26px;}
.content03 .slick-arrow{background-color:white; width:40px;height:40px; border: 0;border-radius:30px;    text-align:center;margin:0 auto;vertical-align:middle;line-height:0px;  cursor: pointer;font-size: 0; z-index: 1;} 
@media all and (max-width: 992px) {
	.content03 .title {font-size: 18px;}
	.content03 .linediv {padding-bottom: 0px;margin-bottom: 35px;}
	.content03 .slick-prev{top:40%;}
	.content03 .slick-next{top:40%;}
}