@charset "UTF-8";

/* home μ„Έν… */

/* content 01 */
/* carousel */
.contents01 .carousel-inner {
    position: relative;
    width: 100%;
    height: 665px;
    overflow: hidden;
}
.contents01 .carousel-item {position:relative; height:665px;}

.contents01 .carousel-caption {
    width: 100%;
    height: 100%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
}
.contents01 .carousel-control-next-icon {background-image: none;}
.contents01 .carousel-control-prev-icon {background-image: none;}
.contents01 .carousel-caption h5 {font-size:2rem; margin-bottom:25px; line-height:45px;}
.contents01 .carousel-caption p {font-size: 16px; line-height:22px; margin-bottom:32px;} 
.contents01 .captionset {background:rgba(255,255,255,0.8); padding:65px; margin:auto; max-width:410px; vertical-align:middle; margin-top:10%;}
.contents01 .imgset { width: 100%; height: 100%; background-size: cover;background-position: center bottom; background-repeat: no-repeat;}
@media all and (max-width: 768px) {
	.contents01 .carousel-inner{height:70vh;}
	.contents01 .carousel-item {height:70vh;}
	.contents01 .captionset {margin-top:10vh;}
}
@media all and (max-width: 576px) {
	.contents01 .carousel-inner{height:55vh;}
	.contents01 .carousel-item {height:55vh;}
	.contents01 .carousel-caption h5 {font-size:1.8rem;}
	.contents01 .captionset {padding:15px;}
	.contents01 .captionset {max-width: 87vw; margin: auto; margin-top:10vh; }
}