@charset "UTF-8";

/* 페이지 제목 */
.pageinfo {margin-bottom:50px;}
.pageinfo .title {border-bottom:2px solid #CFCFCF; padding-bottom:16px;display: inline; margin-bottom:70px; width: auto;}
.pageinfo .title h1 {font: normal normal 32px/42px Noto Sans; font-weight:600; color:#3D3D3D;display: inline; width: auto;}

/* 마이페이지 리스트 메뉴 */
.feature a{color:black;}
.feature a:hover{color:#54ACA8;}

.bgpadding{padding-left:20px; padding-right:20px;border-radius:5px;}

/* 이미지 크기 조절 */
.card-img{max-height:250px;width:100%;height:100%;}

/* sort 화살표 버튼 */
.arrowBtn{width:25px;text-align:center;height:15px;font-size:0.6rem;border:none;cursor:pointer;}