@charset "UTF-8";

/* CSS 초기화 */
@import "reset.css";

/* GoogleFont - NotoSans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
반응형 기준 기록
	아주작은(xs)  576px 미만	  스마트폰 세로
	작은(sm) 	  576px 이상	  스마트폰 가로
	중간(md)	  768px 이상	  타블렛
	큰(lg)   	  992px 이상	  데스크탑
	아주큰(xl)	  1200px 이상	  큰 데스크탑
*/

/* 부트스트랩 5 resetting */
.py-10 {padding-top: 10rem;
    padding-bottom: 10rem;}
.row {--bs-gutter-x: 0;}
a {text-decoration:none;}
.carousel-indicators [data-bs-target] {box-sizing: content-box;flex: 0 1 auto;width: 20px;height: 20px;padding: 0;margin-right: 15px;margin-left: 15px;text-indent: -999px;cursor: pointer;background-color: #fff;background-clip: padding-box;border: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-radius: 100%;opacity: .5;transition: opacity .6s ease;}
.carousel-indicators .active {opacity: 1;}
.modal{background-color:rgba(0,0,0,0.5); z-index:9999;}
.modal-dialog {max-width:415px; margin:auto;}
.modal-content {border:none; border-radius:0; outline:none; background:white; margin:auto; box-shadow: 8px 8px 5px rgba(0,0,0,0.1); padding:65px 60px 110px 65px;}
.modal-content h2 {margin-bottom: 32px;}
.modal-content p {margin-bottom:8px;}
.modal-content input {margin: 8px 0px;}
.modal input[type=text] {border-radius:10px;width:100%;box-shadow: inset 0px 2px 5px #00000029; background-color: white;border: none; padding: 16px;font-size: 16px;font-weight: 600;}
.modal button {display:inline-block; width:30%;}
.modal button:last-child {width:70%; float:right;}
.modal .btnarea {    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;}
@media (max-width: 576px){
	.modal-dialog {max-width:415px;}
	.col-xs-3 {flex: 0 0 auto;width: 25%;}/*4개*/	
	.col-xs-6 {flex: 0 0 auto;width: 50%;}/*2개*/	
	.carousel-indicators [data-bs-target] {box-sizing: content-box;flex: 0 1 auto;width: 16px;height: 16px;padding: 0;margin-right: 10px;margin-left: 10px;text-indent: -999px;cursor: pointer;background-color: #fff;background-clip: padding-box;border: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-radius: 100%;opacity: .5;transition: opacity .6s ease;}
	.carousel-indicators .active {opacity: 1;}
}


/* body 세팅 */
body {font-family: 'Noto Sans', sans-serif; max-width: 2000px;}

/* 태그 세팅 */
p {line-height:22px;}

/* 태그 반응 세팅 */
input:focus {outline:none; border:none; box-shadow:none;}
form input:focus { box-shadow: inset 0px 2px 5px #A4C266!important; outline:none;}

/* 아이디 wrap 세팅 */ /* #header, #container, #navmenu, #footer 포함됨 */
#wrap {max-width:100%;} 


/* 아이디 container 세팅 */  /* #header, #navmenu, #footer 제외된 container만 해당 */
#container {max-width:100%;position:relative;}

/* whitebox 세팅 */

.whitebox {max-width:850px; position:relative; background:white; margin:auto; box-shadow: 8px 8px 5px rgba(0,0,0,0.1); padding:65px 60px;}

/* 클래스 contents 세팅 */ /* 넓이 : 100% */
.contents {max-width:100%; margin:auto;}

/* 클래스 container 세팅 */ /* 넓이 : 1100% */
.container {width: 1100px; margin: auto; padding: 80px 0px; padding-bottom: 90px; position:relative;}
/*  모바일 세팅 : 클래스 container */
@media all and (max-width: 1200px) {
	.container {width: 100%; margin: auto; padding:5%;}
}
@media all and (max-width: 576px) {
	.container {width: 100%; margin: auto; padding: 40px 5%;}
	.whitebox{padding: 35px 30px;}
}


/* background color theme */
.hbg-blue {background-color:#54ACA8;}
.hbg-pink {background-color:#DE8889;}
.hbg-green {background-color:#A4C266;}
.hbg-white {background-color:white;}
.hbg-whitegray {background-color:#FBFBFB;}
.hbg-lightgray {background-color:#EBEBEB;}
.hbg-gray {background-color:#C1C1C1;}
.hbg-darkgray {background-color:#848484;}
.hbg-blackgray {background-color:#3D3D3D;}
.hbg-black {background-color:black;}

/* font color theme */
.hfc-blue {color:#54ACA8;}
.hfc-pink {color:#DE8889;}
.hfc-green {color:#A4C266;}
.hfc-white {color:white;}
.hfc-whitegray {color:#FBFBFB;}
.hfc-lightgray {color:#EBEBEB;}
.hfc-gray {color:#C1C1C1;}
.hfc-darkgray {color:#848484;}
.hfc-blackgray {color:#3D3D3D;}
.hfc-black {color:black;}

/* font weight theme */
.hfc-thin {font-weight:100;}
.hfc-light {font-weight:300;}
.hfc-regular {font-weight:400;}
.hfc-medium {font-weight:500;}
.hfc-semibold {font-weight:600;}
.hfc-bold {font-weight:700;}
.hfc-black {font-weight:900;}

/* shadow */
.hbshadow {box-shadow: 8px 8px 0px #0000001A;}
.hbshadow2 {box-shadow: 0px 3px 8px rgba(0,0,0,0.2);}
.hbshadow3 {box-shadow: 0px 3px 6px #00000029;}

/* button */
.graybtn {color:white; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #9B9B9B; background-color:#9B9B9B;}
.bluebtn {color:white; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #54ACA8; background-color:#54ACA8;}
.pinkbtn {color:white; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #DE8889; background-color:#DE8889;}
.greenbtn {color:white; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #A4C266; background-color:#A4C266;}
.graylinebtn {color:#9B9B9B; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #9B9B9B; background-color:white;}
.bluelinebtn {color:#54ACA8; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #54ACA8; background-color:white;}
.pinklinebtn {color:#DE8889; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #DE8889; background-color:white;}
.greenlinebtn {color:#A4C266; font-weight:700; padding: 16px 45px 16px 45px; border:2px solid #A4C266; background-color:white;}
.roundbtn {padding: 16px 45px 16px 45px; border-radius:25px;}
@media all and (max-width: 576px) {

}

/* mobile 사이즈 이하에서만 안보이기*/
.onlypc {display:block;}
.onlypc-inline {display:inline-block;}
@media all and (max-width: 992px) {
	.onlypc {display:none!important;}
	.onlypc-inline {display:none!important;}
}

/* mobile 사이즈 이하에서만 보이기*/
.onlymobile {display:none;}
.onlymobile-inline {display:none;}
@media all and (max-width: 576px) {
	.onlymobile {display:block!important;}
	.onlymobile-inline {display:inline-block!important;}
}
