<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- HOWF 추천, 지역 이벤트 -->
<mapper namespace="edu.howf.mapper.boardMapper">
	<!-- HOWF 리스트 -->
	<select id="howfSelectAll" parameterType="searchVO" resultType="howfVO">
		SELECT *
		FROM
		(SELECT h.hbidx
			, h.midx
			, u.nickname
			, h.title
			, h.content
			, DATE_FORMAT(h.wdate,'%Y-%m-%d') as wdate
			, h.cnt
			, h.filename
			, h.cate
			, h.tag
			, h.delyn
		FROM howf h, usertable u
		WHERE h.midx = u.midx) a
		LEFT OUTER JOIN
		(SELECT bidx
			, COUNT(hidx) as heart
		FROM heart
		WHERE type='howf'
		GROUP BY bidx) b
		on a.hbidx = b.bidx
		WHERE a.delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (a.title like CONCAT('%',#{searchValue},'%')
		OR a.tag like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND a.title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("tag")'>
		AND a.tag like CONCAT('%',#{searchValue},'%')
		</if>
		<!-- sort -->
		<if test='sortType == "" or sortType == null or sortType.equals("new")'>
		ORDER BY a.wdate desc, a.hbidx desc
		</if>
		<if test='sortType.equals("heart")'>
		ORDER BY b.heart desc, a.wdate desc
		</if>
		<if test='sortType.equals("food")'>
		AND a.cate = '맛집추천'
		ORDER BY a.wdate desc
		</if>
		<if test='sortType.equals("stay")'>
		AND a.cate = '숙박추천'
		ORDER BY a.wdate desc
		</if>
		<if test='sortType.equals("travel")'>
		AND a.cate = '여행지추천'
		ORDER BY a.wdate desc
		</if>
		LIMIT #{page}, #{perPageNum}
	</select>
	
	<!-- HOWF 전체 글 수 세기 -->
	<select id="howfCountAll" parameterType="searchVO" resultType="int">
		SELECT COUNT(h.hbidx)
		FROM howf h, usertable u
		WHERE h.midx = u.midx
		AND h.delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (h.title like CONCAT('%',#{searchValue},'%')
		OR h.tag like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND h.title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("tag")'>
		AND h.tag like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='sortType.equals("food")'>
		AND h.cate = '맛집추천'
		</if>
		<if test='sortType.equals("stay")'>
		AND h.cate = '숙박추천'
		</if>
		<if test='sortType.equals("travel")'>
		AND h.cate = '여행지추천'
		</if>
	</select>
	
	<!-- HOWF 히어로 용 카테고리 별 글 1개씩 -->
	<select id="howfHeroStay" resultType="howfVO">
		SELECT hbidx
			, title
			, filename
			, cate
			, tag
		FROM howf
		WHERE cate = '숙박추천'
		AND delyn = 'N'
		ORDER BY wdate desc
		LIMIT 0,1
	</select>
	<select id="howfHeroTravel" resultType="howfVO">
		SELECT hbidx
			, title
			, filename
			, cate
			, tag
		FROM howf
		WHERE cate = '여행지추천'
		AND delyn = 'N'
		ORDER BY wdate desc
		LIMIT 0,1
	</select>
	<select id="howfHeroFood" resultType="howfVO">
		SELECT hbidx
			, title
			, filename
			, cate
			, tag
		FROM howf
		WHERE cate = '맛집추천'
		AND delyn = 'N'
		ORDER BY wdate desc
		LIMIT 0,1
	</select>
	
	<!-- HOWF 글 보기 -->
	<select id="howfView" parameterType="int" resultType="howfVO">
		SELECT a.hbidx
			, a.midx
			, a.title
			, a.content
			, DATE_FORMAT(a.wdate,'%Y-%m-%d') as wdate
			, a.cnt
			, a.filename
			, a.cate
			, a.tag
			, b.heart
		 FROM howf a
		 LEFT OUTER JOIN
		 (SELECT bidx
		 	, COUNT(hidx) as heart
		 FROM heart
		 WHERE type='howf'
		 GROUP BY bidx) b
		 on a.hbidx = b.bidx
		WHERE a.hbidx = #{hbidx}
	</select>
	
	<!-- HOWF 글 작성 -->
	<insert id="howfWrite" parameterType="howfVO">
	<![CDATA[
		INSERT INTO howf(
			  midx
			, title
			, content
			, wdate
			, cnt
			, filename
			, cate
			, tag
			, delyn
		)
		VALUES(
			#{midx}
			, #{title}
			, #{content}
			, now()
			, 0
			, #{filename}
			, #{cate}
			, #{tag}
			, 'N'
		)
	]]>
	<selectKey resultType="int" keyProperty="hbidx" order="AFTER">
		SELECT max(hbidx) FROM howf
	</selectKey>
	</insert>
	
	<!-- HOWF 글 수정 -->
	<update id="howfModify" parameterType="howfVO">
		UPDATE howf
		   SET    title = #{title}
				, content = #{content}
				, cate = #{cate}
				, tag = #{tag}
				<if test="filename != null">
				, filename = #{filename}
				</if>
		 WHERE hbidx = #{hbidx}
	</update>
	
	<!-- HOWF 글 삭제 -->
	<update id="howfDelete" parameterType="int">
		UPDATE howf
		   SET delyn = 'Y'
		 WHERE hbidx = #{hbidx}
	</update>
	
	<!-- 글 삭제시 찜 목록에서도 삭제 -->
	<delete id="howfHeartDelete" parameterType="heartVO">
		DELETE FROM heart
		 WHERE type = #{type}
		   AND bidx = #{bidx}
	</delete>
	
	
	<!-- 지역 이벤트 리스트 -->
	<select id="eventSelectAll" parameterType="searchVO" resultType="eventVO">
		SELECT *
		FROM
		(SELECT e.ebidx
			, e.midx
			, u.nickname
			, e.title
			, e.content
			, e.wdate
			, e.filename
			, e.cnt
			, e.state
			, e.city
			, e.tag
			, DATE_FORMAT(e.startday, '%Y-%m-%d') as startday
			, DATE_FORMAT(e.endday, '%Y-%m-%d') as endday
			, e.delyn
		FROM event e, usertable u
		WHERE e.midx = u.midx)a
		LEFT OUTER JOIN
		(SELECT bidx
			, count(hidx) as heart
		FROM heart
		WHERE type = 'event'
		GROUP BY bidx)b
		ON a.ebidx = b.bidx
		WHERE a.delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (a.title like CONCAT('%',#{searchValue},'%')
		OR a.state like CONCAT('%',#{searchValue},'%')
		OR a.city like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND a.title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("tag")'>
		AND a.tag like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (a.state like CONCAT('%',#{searchValue},'%')
		OR a.city like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- sort -->
		<if test='sortType.equals("new")'>
		ORDER BY a.wdate desc
		</if>
		<if test='sortType.equals("heart")'>
		ORDER BY b.heart desc, a.wdate desc
		</if>
		<if test='sortType.equals("ing")'>
		<![CDATA[
		AND a.startday < now()
		AND a.endday > now()
		ORDER BY a.endday asc
		]]>
		</if>
		<if test='sortType.equals("will")'>
		<![CDATA[
		AND a.startday > now()
		ORDER BY a.startday asc
		]]>
		</if>
	</select>
	
	<!-- 지역 이벤트 전체 글 수 세기 -->
	<select id="eventCountAll" parameterType="searchVO" resultType="int">
		SELECT COUNT(ebidx)
		FROM event
		WHERE delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (title like CONCAT('%',#{searchValue},'%')
		OR state like CONCAT('%',#{searchValue},'%')
		OR city like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (state like CONCAT('%',#{searchValue},'%')
		OR city like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- sort -->
		<if test='sortType.equals("ing")'>
		<![CDATA[
		AND startday < now()
		AND endday > now()
		]]>
		</if>
		<if test='sortType.equals("will")'>
		<![CDATA[
		AND startday > now()
		]]>
		</if>
	</select>
	
	<!-- 지역 이벤트 히어로 용 글 가져오기(최대 3개) -->
	<select id="eventHero" resultType="eventVO">
		SELECT ebidx
			, title
			, DATE_FORMAT(startday, '%Y-%m-%d') as startday
			, DATE_FORMAT(endday, '%Y-%m-%d') as endday
			, filename
			, tag
		FROM event
		WHERE delyn = 'N'
		AND DATE_FORMAT(endday, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(now(), '%Y-%m-%d')
		ORDER BY wdate desc
		LIMIT 0,3
	</select>
	
	<!-- 지역 이벤트 글 보기 -->
	<select id="eventView" parameterType="int" resultType="eventVO">
		SELECT *
		FROM
		(SELECT e.ebidx
			, e.midx
			, u.nickname
			, u.img
			, e.title
			, e.content
			, DATE_FORMAT(e.wdate,'%Y-%m-%d') as wdate
			, e.filename
			, e.cnt
			, e.state
			, e.city
			, e.tag
			, DATE_FORMAT(e.startday, '%Y-%m-%d') as startday
			, DATE_FORMAT(e.endday, '%Y-%m-%d') as endday
		FROM event e, usertable u
		WHERE e.midx = u.midx)a
		LEFT OUTER JOIN
		(SELECT bidx
			, count(hidx) as heart
		FROM heart
		WHERE type = 'event'
		GROUP BY bidx)b
		ON a.ebidx = b.bidx
		WHERE a.ebidx = #{ebidx}
	</select>
	
	<!-- 지역 이벤트 글 작성 -->
	<insert id="eventWrite">
	<![CDATA[
		INSERT INTO event(
			  midx
			, title
			, content
			, wdate
			, filename
			, cnt
			, state
			, city
			, tag
			, startday
			, endday
			,delyn
		)
		VALUES(
			  #{midx}
			, #{title}
			, #{content}
			, now()
			, #{filename}
			, 0
			, #{state}
			, #{city}
			, #{tag}
			, #{startday}
			, #{endday}
			, 'N'
		)
		]]>
		<selectKey resultType="int" keyProperty="ebidx" order="AFTER">
			SELECT max(ebidx) FROM event
		</selectKey>
	</insert>
	
	<!-- 지역 이벤트 글 수정 -->
	<update id="eventModify">
		UPDATE event
		SET title = #{title}
			, content = #{content}
			, state = #{state}
			, city = #{city}
			, tag = #{tag}
			, startday = #{startday}
			, endday = #{endday}
			<if test="filename != null">
			, filename = #{filename}
			</if>
		WHERE ebidx = #{ebidx}
	</update>
	
	<!-- 지역 이벤트 글 삭제 -->
	<update id="eventDelete" parameterType="int">
		UPDATE event
		SET delyn = 'Y'
		WHERE ebidx = #{ebidx}
	</update>
	
	<!-- 글 삭제시 찜 목록에서도 삭제 -->
	<delete id="eventHeartDelete" parameterType="heartVO">
		DELETE FROM heart
		 WHERE type = #{type}
		   AND bidx = #{bidx}
	</delete>
	
	
	
	<!-- 찜 추가 -->
	<insert id="heartInsert" parameterType="heartVO">
		INSERT INTO heart(
			  type
			, bidx
			, midx
		)
		VALUES(
			  #{type}
			, #{bidx}
			, #{midx}
		)
	</insert>
	
	<!-- 찜 삭제 -->
	<delete id="heartDelete" parameterType="heartVO">
		DELETE FROM heart
		WHERE type = #{type}
		  AND bidx = #{bidx}
		  AND midx = #{midx}
	</delete>
	
	<!-- 찜 여부 -->
	<select id="heartDup" parameterType="heartVO" resultType="int">
		SELECT COUNT(hidx)
		 FROM heart
		WHERE type = #{type}
		  AND bidx = #{bidx}
		  AND midx = #{midx}
	</select>
	
	<!-- 공무원 본인 글 목록 -->
	<select id="myEvent" parameterType="searchVO" resultType="eventVO">
		SELECT *
		FROM
		(SELECT e.ebidx
			, e.midx
			, u.nickname
			, e.title
			, e.content
			, e.wdate
			, e.filename
			, e.cnt
			, e.state
			, e.city
			, e.tag
			, DATE_FORMAT(e.startday, '%Y-%m-%d') as startday
			, DATE_FORMAT(e.endday, '%Y-%m-%d') as endday
			, e.delyn
		FROM event e, usertable u
		WHERE e.midx = u.midx)a
		LEFT OUTER JOIN
		(SELECT bidx
			, count(hidx) as heart
		FROM heart
		WHERE type = 'event'
		GROUP BY bidx)b
		ON a.ebidx = b.bidx
		WHERE a.delyn = 'N'
		AND a.midx = #{midx}
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (a.title like CONCAT('%',#{searchValue},'%')
		OR a.state like CONCAT('%',#{searchValue},'%')
		OR a.city like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND a.title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("tag")'>
		AND a.tag like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (a.state like CONCAT('%',#{searchValue},'%')
		OR a.city like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- sort -->
		<if test='sortType.equals("new")'>
		ORDER BY a.wdate desc
		</if>
		<if test='sortType.equals("heart")'>
		ORDER BY b.heart desc, a.wdate desc
		</if>
		<if test='sortType.equals("ing")'>
		<![CDATA[
		AND a.startday < now()
		AND a.endday > now()
		ORDER BY a.endday asc
		]]>
		</if>
		<if test='sortType.equals("will")'>
		<![CDATA[
		AND a.startday > now()
		ORDER BY a.startday asc
		]]>
		</if>
	</select>
	
	<!-- 공무원 본인 글 개수 -->
	<select id="myEventCount" parameterType="searchVO" resultType="int">
		SELECT COUNT(ebidx)
		FROM event
		WHERE delyn = 'N'
		AND midx = #{midx}
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (title like CONCAT('%',#{searchValue},'%')
		OR state like CONCAT('%',#{searchValue},'%')
		OR city like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("title")'>
		AND title like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (state like CONCAT('%',#{searchValue},'%')
		OR city like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- sort -->
		<if test='sortType.equals("ing")'>
		<![CDATA[
		AND startday < now()
		AND endday > now()
		]]>
		</if>
		<if test='sortType.equals("will")'>
		<![CDATA[
		AND startday > now()
		]]>
		</if>
	</select>
	
	
</mapper>