<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1:1문의, FAQ -->
<mapper namespace="edu.howf.mapper.csMapper">
		
		<!-- 게시글 기능 관련 매퍼 -->
		<insert id="CS_write" parameterType="csVO">
		<![CDATA[
 			INSERT INTO CStable(
	 						origincsbidx
	 						,midx
	 						,title
	 						,divsn
	 						,content
	 						,filename
	 						,wdate
	 						,cnt
	 						,delyn
 						)
 						VALUES(						
	 						0
	 						,#{midx}
	 						,#{title}
	 						,#{divsn}
	 						,#{content}
	 						,#{filename}
	 						,now()
	 						,0
	 						,'N'
 						)
 		]]>
		<selectKey resultType="int" keyProperty="csbidx" order="AFTER">
			SELECT max(csbidx) FROM CStable
		</selectKey>
		</insert>

		<update id="origincsbidx_update" parameterType="int">
			UPDATE CStable
			SET    origincsbidx = #{csbidx}
			WHERE  csbidx = #{csbidx}
		</update>

		<select id="1v1_selectAll" parameterType="searchVO" resultType="csVO">
			SELECT cs.csbidx
				  ,cs.origincsbidx
			      ,u.midx
			      ,u.name
			      ,u.nickname
			      ,cs.divsn			      
			      ,cs.title
			      ,cs.content
			      ,cs.filename
			      ,cs.wdate
			      ,cs.cnt
			      ,cs.delyn
			FROM CStable cs, usertable u
			WHERE cs.midx = u.midx
			AND cs.delyn = 'N'
			AND cs.csbidx = cs.origincsbidx
			<if test="searchType != null and searchType.equals('total')">
				AND (cs.title like concat('%', #{searchValue}, '%')
				OR   cs.content like concat('%', #{searchValue}, '%')
				OR   u.nickname like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('divsn')">
				AND (cs.divsn like concat('%',#{searchValue},'%'))
			</if>
			<if test="searchType != null and searchType.equals('title')">
				AND (cs.title like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('content')">
				AND (cs.content like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('nickname')">
				And (u.nickname like concat('%', ${searchValue}, '%'))
			</if>
			ORDER BY cs.csbidx DESC
			LIMIT #{page},#{perPageNum}
		</select>

		<select id="countPageAll" parameterType="searchVO" resultType="int">
			SELECT COUNT(cs.csbidx)
			FROM   CStable cs, usertable u
			WHERE  cs.midx = u.midx
			AND    cs.delyn = 'N'
			AND cs.csbidx = cs.origincsbidx
			<if test="searchType != null and searchType.equals('total')">
				AND (cs.title like concat('%', #{searchValue}, '%')
				OR   cs.content like concat('%', #{searchValue}, '%')
				OR   u.nickname like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('divsn')">
				AND (cs.divsn like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('title')">
				AND (cs.title like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('content')">
				AND (cs.content like concat('%', #{searchValue}, '%'))
			</if>
			<if test="searchType != null and searchType.equals('nickname')">
				And (u.nickname like concat('%', ${searchValue}, '%'))
			</if>
			ORDER BY cs.csbidx DESC
		</select>

		<select id="1v1_selectMy" parameterType="searchVO" resultType="csVO">
			SELECT cs.csbidx
				  ,cs.origincsbidx
			      ,u.midx
			      ,u.name
			      ,cs.divsn			      
			      ,cs.title
			      ,cs.content
			      ,cs.filename
			      ,cs.wdate
			      ,cs.cnt
			      ,cs.delyn
			FROM CStable cs, usertable u
			WHERE cs.midx = #{midx}
			AND cs.midx = u.midx
			AND cs.delyn = 'N'
			ORDER BY cs.csbidx DESC
			LIMIT #{page},#{perPageNum}
			
		</select>
		
		<select id="countPageMy" parameterType="searchVO" resultType="int">
			SELECT COUNT(cs.csbidx)				  
			FROM CStable cs, usertable u
			WHERE cs.midx = #{midx}
			AND cs.midx = u.midx
			AND cs.delyn = 'N'
			ORDER BY cs.csbidx DESC
		</select>
		
		<select id="csList_view" parameterType="int" resultType="csVO">
			SELECT cs.csbidx
				   ,cs.origincsbidx
				   ,cs.midx
				   ,u.nickname
				   ,cs.divsn
				   ,cs.title
				   ,cs.content
				   ,cs.filename
				   ,cs.wdate
				   ,cs.cnt
				   ,cs.delyn				   
			FROM   CStable cs, usertable u
			WHERE  cs.midx = u.midx
			AND    cs.csbidx = #{csbidx}
		</select>
		
		<update id="count_cnt" >
			UPDATE CStable
			SET	   cnt = cnt + 1
			WHERE  csbidx = #{csbidx}
		</update>
				
		<update id="csList_modify" parameterType="csVO">
			UPDATE CStable
			SET    divsn = #{divsn}
				   ,title = #{title}
				   ,content = #{content}
				   ,filename = #{filename}
			WHERE  csbidx = #{csbidx}
		</update>
		
		<update id="csList_delete" parameterType="int">
			UPDATE CStable
			SET    delyn = 'Y'
			WHERE  origincsbidx = #{origincsbidx}
		</update>
		
		
		
		<!-- 댓글 기능 관련 매퍼 -->
		<insert id="csReply_write" parameterType="csVO">		
			INSERT INTO CStable(
							origincsbidx
							,midx
							,title
							,content
							,wdate
							,cnt
							,delyn						
						)
						VALUES(
							#{origincsbidx}
							,#{midx}
							,#{title}
							,#{content}
							,now()
							,0
							,'N'						
						)			
		</insert>
		
		<select id="csList_reply_view" parameterType="int" resultType="csVO">
			SELECT cs.csbidx
				   ,cs.origincsbidx
				   ,cs.midx
				   ,u.nickname
				   ,cs.divsn
				   ,cs.title
				   ,cs.content
				   ,cs.filename
				   ,cs.wdate
				   ,cs.cnt
				   ,cs.delyn				   
			FROM   CStable cs, usertable u
			WHERE  cs.midx = u.midx
			AND    cs.csbidx != cs.origincsbidx
			AND    cs.delyn = 'N'
			AND    cs.origincsbidx = #{cs.origincsbidx}
		</select>				
		
		<update id="csReply_modify" parameterType="csVO">
			UPDATE CStable
			SET    title = #{title}
				   ,content = #{content}
				   ,wdate = now()
			WHERE  csbidx = #{csbidx}
		</update>
		
		<update id="csReply_delete" parameterType="csVO">
			UPDATE CStable
			SET	   delyn = 'Y'
			WHERE  csbidx = #{csbidx}
		</update>
		
		

			
			
			
		
		
		
	
</mapper>