<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 숙박정보 -->
<mapper namespace="edu.howf.mapper.stayMapper">
	<!-- 리스트 보기 -->
	<select id="staySelectAll" parameterType="searchVO" resultType="stayVO">
		SELECT e.*
			, f.star
		FROM
		(SELECT c.*
			, d.heart
		FROM
		(SELECT distinct(a.sidx) as sidx
			, a.midx
			, a.name
			, a.addr
			, a.detailaddr
			, a.tag
			, a.photo
			, a.services
			, a.delyn
			, b.min
			, b.max
			, b.people
			, b.sbed
			, b.dbed
			, b.qbed
			, b.kbed
		FROM stay a
		JOIN
		(SELECT sidx
			, MIN(price) as min
			, MAX(price) as max
			, MAX(people) as people
			, IFNULL(MAX(sbed),0) as sbed
			, IFNULL(MAX(dbed),0) as dbed
			, IFNULL(MAX(qbed),0) as qbed
			, IFNULL(MAX(kbed),0) as kbed
		FROM room
		WHERE delyn = 'N'
		<if test="filter != null">
		<if  test="filter.option != null">
		<foreach item="op" collection="filter.option" index="index">
		<if test="!op.equals('싱글베드') and !op.equals('더블베드') and !op.equals('퀸베드') and !op.equals('킹베드')">
		AND tags like CONCAT('%',#{op},'%')
		</if>
		</foreach>
		</if>
		</if>
		GROUP BY sidx) b
		ON a.sidx = b.sidx) c
		LEFT OUTER JOIN
		(SELECT COUNT(hidx) as heart
			, bidx
		FROM heart
		WHERE type = 'stay'
		GROUP BY bidx) d
		ON c.sidx = d.bidx) e
		LEFT OUTER JOIN
		(SELECT avg(star) as star
			, bidx
		FROM comment
		WHERE type = 'stay'
		AND delyn = 'N'
		GROUP BY bidx) f
		ON e.sidx = f.bidx
		WHERE e.delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (e.name like CONCAT('%',#{searchValue},'%')
		OR e.addr like CONCAT('%',#{searchValue},'%')
		OR e.detailaddr like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("name")'>
		AND e.name like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (e.addr like CONCAT('%',#{searchValue},'%')
		OR e.detailaddr like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- filter -->
		<if test="filter != null">
		<if  test="filter.people > 0">
		<![CDATA[
		AND e.people >= #{filter.people}
		]]> 
		</if>
		<if  test="filter.min > 0 and filter.max > 0">
		<![CDATA[
		AND e.min <= #{filter.max}
		AND e.max >= #{filter.min}
		]]>
		</if>
		<if  test="filter.option != null">
		<foreach item="op" collection="filter.option" index="index">
		<if test="op.equals('싱글베드')">
		AND e.sbed != 0
		</if>
		<if test="op.equals('더블베드')">
		AND e.dbed != 0
		</if>
		<if test="op.equals('퀸베드')">
		AND e.qbed != 0
		</if>
		<if test="op.equals('킹베드')">
		AND e.kbed != 0
		</if>
		</foreach>
		</if>
		</if>
		<!-- sort -->
		<if test='sortType.equals("max")'>
		ORDER BY e.max desc
		</if>
		<if test='sortType.equals("min")'>
		ORDER BY e.min asc
		</if>
		<if test='sortType.equals("star")'>
		ORDER BY f.star desc
		</if>
		<if test='sortType.equals("heart")'>
		ORDER BY e.heart desc
		</if>
		LIMIT #{page}, #{perPageNum}
	</select>
	
	<!-- 전체 수 세기 -->
	<select id="stayCountAll" parameterType="searchVO" resultType="int">
		SELECT COUNT(DISTINCT(a.sidx))
		FROM stay a
		JOIN
		(SELECT sidx
			, MIN(price) as min
			, MAX(price) as max
			, MAX(people) as people
			, IFNULL(MAX(sbed),0) as sbed
			, IFNULL(MAX(dbed),0) as dbed
			, IFNULL(MAX(qbed),0) as qbed
			, IFNULL(MAX(kbed),0) as kbed
		FROM room
		WHERE delyn = 'N'
		<if test="filter != null">
		<if  test="filter.option != null">
		<foreach item="op" collection="filter.option" index="index">
		<if test="!op.equals('싱글베드') and !op.equals('더블베드') and !op.equals('퀸베드') and !op.equals('킹베드')">
		AND tags like CONCAT('%',#{op},'%')
		</if>
		</foreach>
		</if>
		</if>
		GROUP BY sidx) b
		ON a.sidx = b.sidx
		WHERE a.delyn = 'N'
		<!-- 검색어 처리 -->
		<if test='searchType != null and searchType.equals("total")'>
		AND (a.name like CONCAT('%',#{searchValue},'%')
		OR a.addr like CONCAT('%',#{searchValue},'%')
		OR a.detailaddr like CONCAT('%',#{searchValue},'%'))
		</if>
		<if test='searchType != null and searchType.equals("name")'>
		AND a.name like CONCAT('%',#{searchValue},'%')
		</if>
		<if test='searchType != null and searchType.equals("area")'>
		AND (a.addr like CONCAT('%',#{searchValue},'%')
		OR a.detailaddr like CONCAT('%',#{searchValue},'%'))
		</if>
		<!-- filter -->
		<if test="filter != null">
		<if  test="filter.people > 0">
		<![CDATA[
		AND b.people >= #{filter.people}
		]]> 
		</if>
		<if  test="filter.min > 0 and filter.max > 0">
		<![CDATA[
		AND b.min <= #{filter.max}
		AND b.max >= #{filter.min}
		]]>
		</if>
		<if  test="filter.option != null">
		<foreach item="op" collection="filter.option" index="index">
		<if test="op.equals('싱글베드')">
		AND b.sbed != 0
		</if>
		<if test="op.equals('더블베드')">
		AND b.dbed != 0
		</if>
		<if test="op.equals('퀸베드')">
		AND b.qbed != 0
		</if>
		<if test="op.equals('킹베드')">
		AND b.kbed != 0
		</if>
		</foreach>
		</if>
		</if>
	</select>
	
	
	<!-- 숙박정보 가져오기 -->
	<select id="staySelectOne" parameterType="int" resultType="stayVO">
		SELECT c.*, d.star, d.cnt
		FROM
		(SELECT a.sidx
			, a.midx
			, a.name
			, a.addr
			, a.detailaddr
			, a.contents
			, a.tag
			, a.photo
			, a.services
			, a.delyn
			, b.heart
		FROM stay a
		LEFT OUTER JOIN
		(SELECT COUNT(hidx) as heart
			, bidx
		FROM heart
		WHERE type = 'stay'
		GROUP BY bidx) b
		ON a.sidx = b.bidx) c
		LEFT OUTER JOIN
		(SELECT avg(star) as star
			, count(cbidx) as cnt
			, bidx
		FROM comment
		WHERE type = 'stay'
		AND delyn = 'N'
		GROUP BY bidx) d
		ON c.sidx = d.bidx
		WHERE c.sidx = #{sidx}
	</select>
	
	<!-- 방 정보 가져오기 -->
	<select id="roomSelect" parameterType="int" resultType="resVO">
		SELECT name
			, price
			, tags
			, people
			, square
			, photo
			, sbed
			, dbed
			, qbed
			, kbed
		FROM room
		WHERE sidx = #{sidx}
		AND delyn = 'N'
		GROUP BY name
			, price
			, tags
			, people
			, square
			, photo
			, sbed
			, dbed
			, qbed
			, kbed
	</select>
	
	<!-- 방 cnt 가져오기(해당 날짜에 예약되지 않은 방 개수) -->
	<select id="roomCnt" parameterType="resVO" resultType="int">
		SELECT COUNT(c.name) as cnt
		FROM
		(SELECT a.ridx
			, a.name
			, a.sidx
		FROM room a
		LEFT OUTER JOIN
		(SELECT r.ridx
			, rr.reidx
		FROM room r
		JOIN res rr
		ON r.ridx = rr.ridx
		WHERE rr.delyn = 'N'
		<if test='date1 != null and date2 != null'>
		AND rr.date1 <![CDATA[<=]]> #{date2}
		AND rr.date2 <![CDATA[>=]]> #{date1}
		</if>
		) b
		ON a.ridx = b.ridx
		WHERE b.reidx IS NULL) c
		LEFT OUTER JOIN stay d
		ON c.sidx = d.sidx
		WHERE d.sidx = #{sidx}
		AND c.name = #{name}
	</select>
	
	<!-- 방 ridx 가져오기 -->
	<select id="roomRidx" parameterType="resVO" resultType="resVO">
		SELECT c.ridx
			, COUNT(c.name) as cnt
		FROM
		(SELECT a.ridx
			, a.name
			, a.sidx
		FROM room a
		LEFT OUTER JOIN
		(SELECT r.ridx
			, rr.reidx
		FROM room r
		JOIN res rr
		ON r.ridx = rr.ridx
		WHERE rr.date1 <![CDATA[<=]]> #{date2}
		AND rr.date2 <![CDATA[>=]]> #{date1}) b
		ON a.ridx = b.ridx
		WHERE b.reidx IS NULL) c
		LEFT OUTER JOIN stay d
		ON c.sidx = d.sidx
		WHERE d.sidx = #{sidx}
		AND c.name = #{name}
	</select>
	
	<!-- 리뷰 가져오기 -->
	<select id="reviewSelect" parameterType="searchVO" resultType="commentVO">
		SELECT a.cbidx
			, a.content
			, a.star
			, a.midx
			, a.photo
			, b.nickname
		FROM comment a, usertable b
		WHERE a.midx = b.midx
		AND a.bidx = #{bidx}
		AND a.type = 'stay'
		AND a.delyn = 'N'
		ORDER BY wdate desc
		LIMIT #{page}, #{perPageNum}
	</select>
	
	<!-- 리뷰 전체 수 세기 -->
	<select id="reviewCount" parameterType="int" resultType="int">
		SELECT COUNT(cbidx)
		FROM comment
		WHERE type = 'stay'
		AND bidx = #{bidx}
		AND delyn = 'N'
	</select>
	
	<select id="stayStar" parameterType="int" resultType="float">
		SELECT AVG(star) as star
		FROM comment
		WHERE bidx = #{bidx}
		AND type = 'stay'
		AND delyn = 'N'
	</select>
	
	<!-- 숙박시설 등록 -->
	<insert id="stayInsert" parameterType="stayVO">
	<![CDATA[
		INSERT INTO stay(
			midx
			, name
			, addr
			, detailaddr
			, contents
			, tag
	]]>
			<if test='photo != null'>
			, photo
			</if>
	<![CDATA[		
			, services
			, delyn
		)
		VALUES(
			#{midx}
			, #{name}
			, #{addr}
			, #{detailaddr}
			, #{contents}
			, #{tag}
	]]>		
			<if test='photo != null'>
			, #{photo}
			</if>
	<![CDATA[		
			, #{services}
			, 'N'
		)
	]]>
	<selectKey resultType="int" keyProperty="sidx" order="AFTER">
		SELECT max(sidx) FROM stay
	</selectKey>
	</insert>
	
	<!-- 방 등록 -->
	<insert id="roomInsert" parameterType="roomVO">
		INSERT INTO room(
			sidx
			, name
			, price
			, tags
			, people
			, square
			<if test='photo != null'>
			, photo
			</if>
			, sbed
			, dbed
			, qbed
			, kbed
			, delyn
		)
		VALUES(
			#{sidx}
			, #{name}
			, #{price}
			, #{tags}
			, #{people}
			, #{square}
			<if test='photo != null'>
			, #{photo}
			</if>
			, #{sbed}
			, #{dbed}
			, #{qbed}
			, #{kbed}
			, 'N'
		)
	</insert>
	
	<!-- 리뷰 등록 -->
	<insert id="reviewInsert" parameterType="commentVO">
		INSERT INTO comment(
			  content
			, star
			, type
			, midx
			, bidx
			, wdate
			, delyn
			<if test='photo != null'>
			, photo
			</if>
		)
		VALUES(
			  #{content}
			, #{star}
			, 'stay'
			, #{midx}
			, #{bidx}
			, now()
			, 'N'
			<if test='photo != null'>
			, #{photo}
			</if>
		)
	</insert>
	
	<!-- 숙박시설 정보 수정 -->
	<update id="stayModify" parameterType="stayVO">
		UPDATE stay
		SET   name = #{name}
			, addr = #{addr}
			, detailaddr = #{detailaddr}
			, contents = #{contents}
			, tag = #{tag}
			<if test='photo != null'>
			, photo = #{photo}
			</if>
			, services = #{services}
		WHERE sidx = #{sidx}
	</update>
	
	<!-- 리뷰 중복 여부 -->
	<select id="reviewDup" parameterType="commentVO" resultType="int">
		SELECT COUNT(cbidx)
		FROM comment
		WHERE type = 'stay'
		AND midx = #{midx}
		AND bidx = #{bidx}
		AND delyn = 'N'
	</select>
	
	<!-- 리뷰 하나만 가져오기 -->
	<select id="reviewSelectOne" parameterType="int" resultType="commentVO">
		SELECT cbidx
			, content
			, star
			, photo
		FROM comment
		WHERE cbidx = #{cbidx}
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="reviewModify" parameterType="commentVO">
		UPDATE comment
		SET   content = #{content}
			, star = #{star}
			<if test='photo != null'>
			, photo = #{photo}
			</if>
		WHERE cbidx = #{cbidx}
	</update>
	
	<!-- 숙박시설 삭제 -->
	<update id="stayDelete" parameterType="int">
		UPDATE stay
		SET delyn = 'Y'
		WHERE sidx = #{sidx}
	</update>
	
	<!-- 방 삭제 -->
	<delete id="roomDelete" parameterType="int">
		DELETE FROM room
		WHERE sidx = #{sidx}
	</delete>
	
	<!-- 리뷰 삭제 -->
	<update id="reviewDelete" parameterType="int">
		UPDATE comment
		SET delyn = 'Y'
		WHERE cbidx = #{cbidx}
	</update>
	
	<!-- 
	
		예약
	
	 -->
	
	<!-- 예약 추가(일반 회원) -->
	<insert id="resInsert" parameterType="resVO">
	<![CDATA[
		INSERT INTO res(
			  midx
			, ridx
			, date1
			, date2
			, merchant
			, pay
			, wdate
			, delyn
		)
		VALUES(
			  #{midx}
			, #{ridx}
			, #{date1}
			, #{date2}
			, #{merchant}
			, 'N'
			, now()
			, 'N'
		)
	]]>
	<selectKey resultType="int" keyProperty="reidx" order="AFTER">
		SELECT max(reidx) FROM res
	</selectKey>
	</insert>
	
	<!-- 결제 완료(일반 회원) -->
	<update id="resPay" parameterType="String">
		UPDATE res
		   SET pay = 'Y'
		 WHERE merchant = #{merchant}
	</update>
	
	<!-- 가예약 여부 판단 -->
	<select id="resDup" parameterType="resVO" resultType="resVO">
		SELECT r.ridx
			, r.merchant
		FROM res r
		JOIN room ro
		ON r.ridx = ro.ridx
		WHERE r.midx = #{midx}
		AND ro.sidx = #{sidx}
		AND ro.name = #{name}
		AND ro.price = #{price}
		AND r.pay = 'N'
		AND r.delyn = 'N'
	</select>
	
	<!-- 예약 삭제(일반 회원) -->
	<update id="resDelete" parameterType="int">
		UPDATE res
		   SET delyn = 'Y'
		 WHERE reidx = #{reidx}
	</update>
	
	<!-- 예약 목록 가져오기(일반 회원) -->
	<select id="resSelectAll" parameterType="int" resultType="resVO">
		SELECT r.reidx
			, r.ridx
			, r.date1
			, r.date2
			, r.merchant
			, r.pay
			, r.wdate
			, r.delyn
			, a.sname
			, a.rname
			, a.price
			, a.photo
			, a.sidx
		FROM res r
		JOIN
		(SELECT ro.ridx
			, s.name as sname
			, ro.name as rname
			, ro.price
			, ro.photo
			, s.sidx
		FROM room ro
		JOIN stay s
		ON ro.sidx = s.sidx) a
		ON r.ridx = a.ridx
		WHERE midx = #{midx}
		ORDER BY wdate desc
	</select>
	
	
	
	
	<!-- 예약 추가(business) -->
	<insert id="resInsertB" parameterType="resVO">
		INSERT INTO res(
			  midx
			, ridx
			, date1
			, date2
			, merchant
			, pay
			, wdate
			, delyn
		)
		VALUES(
			  #{midx}
			, #{ridx}
			, #{date1}
			, #{date2}
			, #{merchant}
			, 'N'
			, now()
			, 'N'
		)
	</insert>
	
	<!-- 예약 삭제(business) -->
	<update id="resDeleteB" parameterType="int">
		UPDATE res
		   SET delyn = 'Y'
		 WHERE reidx = #{reidx}
	</update>
	
	<!-- 예약 목록 가져오기(business / 본인 소유 시설 목록 전체 ) -->
	<select id="resSelectAllB" parameterType="resVO" resultType="resVO">
		SELECT re.*
			, s.midx
			, s.name as sname
		FROM stay s
		JOIN
		(SELECT r.reidx
			, r.ridx
			, r.date1
			, r.date2
			, r.merchant
			, r.pay
			, r.wdate
			, r.delyn
			, ro.sidx
			, ro.name as rname
		FROM res r
		JOIN room ro
		ON r.ridx = ro.ridx
		WHERE r.delyn = 'N'
		<!-- 기간 조건 -->
		<if test='date1 != null'>
		AND date1 <![CDATA[>=]]> #{date1}
		</if>
		<if test='date2 != null'>
		AND date2 <![CDATA[<=]]> #{date2}
		</if>
		AND r.pay = 'Y') re
		ON s.sidx = re.sidx
		WHERE s.midx = #{midx}
		ORDER BY s.name asc, re.wdate desc
	</select>
	
	
</mapper>