<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 너나들이 -->
<mapper namespace="edu.howf.mapper.teamMapper">
	<select id="teamList" resultType="int">
		SELECT   t.tidx		
			     ,t.midx
			     ,t.title
			     ,t.content
			     ,t.wdate
			     ,t.cnt
			     ,t.delyn
			     ,j.people_cnt
		FROM     team t
		JOIN     (SELECT COUNT(jidx) as people_cnt, tidx
				 FROM jointable WHERE joinyn = 'Y' GROUP BY tidx) j
		ON       t.tidx = j.tidx;
	</select>
	
	<select id="countPage" parameterType="searchVO" resultType="int">
		SELECT COUNT(t.tidx)
		FROM     team t, usertable u
		WHERE    t.midx = u.midx
		AND      t.delyn = 'N'
		ORDER BY t.tidx DESC
	</select>

	
	<insert id="teamWrite" parameterType="teamVO">
	<![CDATA[
		INSERT INTO team(
						midx
						,title
						,content
						,wdate
						,filename
						,applyyn
		)
		VALUES		(
						#{midx}
						,#{title}
						,#{content}
						,now()
						,#{filename}
						,#{applyyn}
		)
		]]>
		<selectKey resultType="int" keyProperty="tidx" order="AFTER">
		SELECT max(tidx) FROM team
		</selectKey>
	</insert>
	
	<select id="teamView" parameterType="int" resultType="teamVO">
		SELECT a.*, u.nickname
		FROM
		(SELECT		t.tidx
					,t.midx
					,t.title
					,t.content
					,t.filename
					,t.wdate
					,t.cnt
					,t.applyyn
					,j.people_cnt
					,t.delyn
		FROM		team t
		LEFT OUTER JOIN
				(SELECT COUNT(j.jidx) as people_cnt, j.tidx, j.midx
				 FROM jointable j WHERE joinyn = 'Y' GROUP BY j.tidx) j
		ON       t.tidx = j.tidx) a
		join 	 (select u.midx, u.nickname from usertable u) u
		ON 		 a.midx = u.midx
		WHERE	 a.tidx = #{tidx}
	</select>
		
	<update id="team_cnt_update">
		UPDATE team
		SET    cnt = cnt + 1
		WHERE  tidx = #{tidx}
	</update>
	
	<insert id="insert_join_apply" parameterType="teamVO">
		INSERT INTO jointable(
						tidx
						,midx
						,jdate
						,joinyn
					)
					VALUES(
						#{tidx}
						,#{midx}
						,now()
						,#{joinyn}
					)
	</insert>
	
	<delete id="delete_join_apply" parameterType="teamVO">
		DELETE FROM jointable
		WHERE		tidx = #{tidx}
		AND			midx = #{midx}
	</delete>
	
	<select id="join_check" parameterType="teamVO" resultType="joinVO">
		select a.jidx,b.joinyn from
		(SELECT COUNT(jidx) as jidx
			, jidx as j
				FROM   jointable
				WHERE  tidx = #{tidx}
				AND    midx = #{midx})a
		left outer JOIN
		(select joinyn
			,jidx
		from jointable a
		where tidx = #{tidx}
		and midx = #{midx})b
		on a.j = b.jidx;
	</select>
	
	<select id="write_check" parameterType="int" resultType="int">
		SELECT  COUNT(tidx) as tidx
		FROM	team
		WHERE	midx = #{midx}
		AND     delyn = 'N'
	</select>
	
	<update id="teamModify" parameterType="teamVO">
		UPDATE  team
		SET		title = #{title}
				,content = #{content}
				,filename = #{filename}
				,applyyn = #{applyyn}
				,wdate = now()
		WHERE	tidx = #{tidx}
	</update>
	
	<update id="teamDelete" parameterType="int">
		UPDATE  team
		SET		delyn = 'Y'
		WHERE	tidx = #{tidx}
	</update>
	
	<!-- 장소 추천 관련 -->
	<select id="getPlaceList" resultType="map">
		SELECT	place_id,
				,place_nm
				,place_cl
				,place_lc
				kakao_map_id
		FROM	tb_place
	</select>
	
	<insert id="placeInsertPost" parameterType="map">
		INSERT INTO tb_place(
						place_nm
						,place_cl
						,place_lc
						kakao_map_id
					)
		VALUES		(
						#{place_nm}
						,#{place_cl}
						,#{place_lc}
						,#{kakao_map_id}
					)
	</insert>
	
	<select id="placeDuplicationCheck" parameterType="map" resultType="int">
		SELECT COUNT(place_id)
		FROM		 tb_place
		WHERE		 kakao_map_id = #{kakao_map_id}	
	</select>

</mapper>