<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 너나들이 -->
<mapper namespace="edu.howf.mapper.teamMapper">
	<select id="teamList" parameterType="searchVO" resultType="teamVO">
		SELECT a.*, u.nickname
		FROM
		(SELECT   t.tidx
				 ,t.midx
			     ,t.title
			     ,t.content
			     ,t.wdate
			     ,t.cnt
			     ,t.delyn
			     ,j.people_cnt
		FROM     team t
		LEFT OUTER JOIN
				(SELECT COUNT(j.jidx) as people_cnt, j.tidx, j.midx
				 FROM jointable j WHERE joinyn = 'Y' GROUP BY j.tidx) j
		ON       t.tidx = j.tidx) a
		join 	 (select u.midx, u.nickname from usertable u) u
		ON 		 a.midx = u.midx
		ORDER BY a.tidx DESC
	</select>
	
	<update id="team_cnt_update">
		UPDATE team
		SET    cnt = cnt + 1
		WHERE  tidx = #{tidx}
	</update>
	
	<select id="countPage" parameterType="searchVO" resultType="int">
		SELECT COUNT(t.tidx)
		FROM         team t, usertable u
		WHERE        t.midx = u.midx
		AND          t.delyn = 'N'
		ORDER BY     t.tidx DESC
	</select>
	
	<select id="teamView" parameterType="int" resultType="teamVO">
		SELECT a.*, u.nickname
		FROM
		(SELECT		t.tidx
					,t.midx
					,t.title
					,t.content
					,t.filename
					,t.wdate
					,t.cnt
					,j.people_cnt
					,t.delyn
		FROM		team t
		LEFT OUTER JOIN
				(SELECT COUNT(j.jidx) as people_cnt, j.tidx, j.midx
				 FROM jointable j WHERE joinyn = 'Y' GROUP BY j.tidx) j
		ON       t.tidx = j.tidx) a
		join 	 (select u.midx, u.nickname from usertable u) u
		ON 		 a.midx = u.midx
		WHERE	 a.tidx = #{tidx}
	</select>
	
	<insert id="insert_join_apply" parameterType="teamVO">
		INSERT INTO jointable(
						tidx
						,midx
						,jdate
						,joinyn
					)
					VALUES(
						#{tidx}
						,#{midx}
						,now()
						,'N'
					)
	</insert>
	
	<delete id="delete_join_apply" parameterType="teamVO">
		DELETE FROM jointable
		WHERE		tidx = #{tidx}
		AND			midx = #{midx}
	</delete>
	
	<select id="join_check" parameterType="teamVO" resultType="joinVO">
		SELECT COUNT(jidx) as jidx
			  ,joinyn
		FROM   jointable
		WHERE  tidx = #{tidx}
		AND    midx = #{midx}
		GROUP BY joinyn
	</select>
</mapper>