<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- 유저, 마이페이지, 로그인, 회원가입 -->
<mapper namespace="edu.howf.mapper.userMapper">
	<!-- 카카오,구글 최초 로그인시 회원가입 -->
	<insert id="socialInsert" parameterType="userVO">
		<![CDATA[
		INSERT INTO usertable(
			  name
			, email
			, role
			, social
			, joinyn
			, delyn
		)
		VALUES(
			  #{name}
			, #{email}
			, 'normal'
			, #{social}
			, 'Y'
			, 'N'
		)
		]]>
		<selectKey resultType="int" keyProperty="midx" order="AFTER">
			SELECT max(midx) FROM usertable
		</selectKey>
	</insert>
	
	<!-- 닉네임 등록 -->
	<update id="nicknameInsert" parameterType="userVO">
		UPDATE usertable
		   SET nickname = #{nickname}
		 WHERE email = #{email}
	</update>
	
	<!-- 닉네임 가져오기 -->
	<select id="nicknameSelect" parameterType="String" resultType="String">
		SELECT nickname
		  FROM usertable
		 WHERE email = #{email}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="emailDup" parameterType="String" resultType="int">
		SELECT COUNT(email)
		  FROM usertable
		 WHERE email = #{email}
	</select>
	
	<!-- 이메일 중복체크 비밀번호 null -->
	<select id="emailDupPwd" parameterType="String" resultType="String">
		SELECT password
		FROM usertable
		WHERE email = #{email}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="nicknameDup" parameterType="String" resultType="int">
		SELECT COUNT(nickname)
		  FROM usertable
		 WHERE nickname = #{nickname}
	</select>
	
	<!-- 일반회원, 사업자 회원가입 -->
	<insert id="userInsert" parameterType="userVO">
		INSERT INTO usertable(
			  name
			, email
			, password
			, nickname
			, phone
			, addr
			, detailaddr
			, jumin
			, delyn
			, role
			, joinyn
		<if test="document != null">
			, document
		</if>
		)
		VALUES(
			  #{name}
			, #{email}
			, #{password}
			, #{nickname}
			, #{phone}
			, #{addr}
			, #{detailaddr}
			, #{jumin}
			, 'N'
		<if test="document == null">
			, 'normal'
			, 'Y'
		</if>
		<if test="document != null">
			, 'business'
			, 'N'
			, #{document}
		</if>
		)
	</insert>
	
	<!-- 일반 로그인 -->
	<select id="login" parameterType="userVO" resultType="userVO">
		SELECT midx
			, nickname
			, img
			, role
			, joinyn
			, password
		 FROM usertable
		WHERE email = #{email}
	</select>
	
	<!-- 소셜 로그인 -->
	<select id="socialLogin" parameterType="userVO" resultType="int">
		SELECT midx
		FROM usertable
		WHERE email = #{email}
	</select>
	
	<!-- 소셜 로그인 소셜 종류 -->
	<select id="socialType" parameterType="userVO" resultType="String">
		SELECT social
		FROM usertable
		WHERE email = #{email}
	</select>
	
	<!-- 이름, 닉네임 받아 있으면 이메일 반환 -->
	<select id="nameToEmail" parameterType="userVO" resultType="String">
		SELECT email
		  FROM usertable
		 WHERE name = #{name}
		   AND nickname = #{nickname}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="pwdModify" parameterType="userVO">
		UPDATE usertable
		   SET password = #{password}
		 WHERE email = #{email}
	</update>
	
	<!-- 자동로그인 정보 넣기 -->
	<insert id="autoLoginInsert" parameterType="autoVO">
		INSERT INTO autologin(
			  midx
			, token
		)
		VALUES(
			  #{midx}
			, #{token}
		)
	</insert>
	
	<!-- 자동 로그인 삭제 -->
	<delete id="autoLoginDelete" parameterType="int">
		DELETE FROM autologin
		WHERE midx = #{midx}
	</delete>
	
	<!-- 자동로그인 여부 -->
	<select id="autoLogin" parameterType="autoVO" resultType="int">
		SELECT COUNT(midx)
		  FROM autologin
		 WHERE midx = #{midx}
		   AND token = #{token}
	</select>
	
	<!-- midx로 회원정보 가져오기(자동 로그인) -->
	<select id="autoLoginSelectOne" parameterType="int" resultType="userVO">
		SELECT midx
			, nickname
			, img
			, role
			, joinyn
			, password
		 FROM usertable
		 WHERE midx = #{midx}
	</select>
	
	
	<!-- 마이 페이지 -->
	
	
	<!-- 마이페이지 정보 가져오기 -->
	<select id="profileSelectOne" parameterType="int" resultType="userVO">
		SELECT name
			, email
			, password
			, nickname
			, phone
			, addr
			, detailaddr
			, jumin
			, img
			, document
			,social
		FROM usertable
		WHERE midx = #{midx}
	</select>
	
	<!-- 마이페이지 프로필 이미지 수정 -->
	<update id="profileImgModify" parameterType="userVO">
		UPDATE usertable
		SET img = #{img}
		WHERE midx = #{midx}
	</update>
	
	<!-- 내 정보 수정 -->
	<update id="profileModify" parameterType="userVO">
		UPDATE usertable
		SET   name = #{name}
			, nickname = #{nickname}
			, jumin = #{jumin}
			, email = #{email}
			, phone = #{phone}
			, password = #{password}
			, addr = #{addr}
			, detailaddr = #{detailaddr}
		WHERE midx = #{midx}
	</update>
	
</mapper>